node_modules/*
bower_components/*
app/data/boomedTweets.csv
app/data/boomedTweets_day.csv
app/data/boomedTweets_hour.csv
app/data/boomedTweets_month.csv
app/data/boomedTweets_week.csv
app/data/boomedTweets_year.csv
app/data/boomedUsers.csv
app/data/boomedUsers_day.csv
app/data/boomedUsers_hour.csv
app/data/boomedUsers_month.csv
app/data/boomedUsers_week.csv
app/data/boomedUsers_year.csv
app/data/boomings.csv
app/data/boomings_day.csv
app/data/boomings_hour.csv
app/data/boomings_month.csv
app/data/boomings_week.csv
app/data/boomings_year.csv
app/data/live_booming.csv
app/data/usernameIndex.csv
app/data/whoTweetedIndex.csv
scripts/data/*
scripts/JS/node_modules/*
scripts/JS/config.js
scripts/JS/stream.errors
scripts/JS/recurrent_compute_views.errors

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Bundled JS
app/bundle.js
