/* fonts */

@font-face {
  font-family: 'digital-7_italicitalic';
  src: url('font/digital-7-web-font-kit/digital-7_italic-webfont.woff2') format('woff2'),
       url('font/digital-7-web-font-kit/digital-7_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7_monoitalic';
  src: url('font/digital-7-web-font-kit/digital-7_mono_italic-webfont.woff2') format('woff2'),
       url('font/digital-7-web-font-kit/digital-7_mono_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7_monomono';
  src: url('font/digital-7-web-font-kit/digital-7_mono-webfont.woff2') format('woff2'),
       url('font/digital-7-web-font-kit/digital-7_mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7regular';
  src: url('font/digital-7-web-font-kit/digital-7-webfont.woff2') format('woff2'),
       url('font/digital-7-web-font-kit/digital-7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LEDCalculator';
  src: url('font/led-calculator-web-font-kit/LEDCalculator.eot?#iefix') format('embedded-opentype'),
       url('font/led-calculator-web-font-kit/LEDCalculator.woff') format('woff'),
       url('font/led-calculator-web-font-kit/LEDCalculator.ttf')  format('truetype'),
       url('font/led-calculator-web-font-kit/LEDCalculator.svg#LEDCalculator') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* other */

.rank-avatar {
	background-color: rgba(255, 255, 255, 0.6);
	font-size: 1.2rem;
	text-align: center;

	line-height: 1.4;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	margin: auto;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	fill: currentColor;
	height: 24px;
	width: 24px;
	min-height: 24px;
	min-width: 24px;
	margin-bottom: 8px;
	margin-right: 16px;
	border-radius: 50%;
	box-sizing: content-box;
	padding: 8px;
	margin-top: 12px;
	align-self: flex-start;
}

.tweet-container {
	width: 500px;
	min-height: 50px;
}

@keyframes placeholder {
	0% { background-position: -600px 0 }
	100% { background-position: 600px 0 }
}

.tweet-placeholder {
	border: 1.5px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 0, 0, 0.6);
	height: 120px;
	margin-top: 12px;
	border-radius: 4px;
	width: 497px;

	animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholder;
  animation-timing-function: linear;
  background: linear-gradient(to right, #000 8%, #333 18%, #000 33%);
  background-size: 1200px 100px;
}

.lcd-meter-container {
	margin: 6px;
	background-color: #dfe441;
	padding: 3px 6px;
	border-radius: 4px;
	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.1), 0 6px 18px 0 rgba(0,0,0,0.08), inset 0px 2px 8px rgba(0,0,0,0.1);
}

.lcd-meter {
	width: 160px;
	height: 52px;
	color: #3b3b3b;
	font-family: digital-7_monoitalic;
	font-size: 3.2em;
	position:relative;
	text-align: end;
}

.lcd-meter .lcd-overlay {
	width: 160px;
	height: 52px;
	position:absolute;
 	right:0px;
	bottom:0px;
}

.lcd-meter .lcd-background, .lcd-meter .lcd-score {
  padding-right: 56px;
	line-height: 52px;
}

.lcd-meter .lcd-background {
	opacity: 0.05;
}

.lcd-meter .lcd-icon {
	text-align: end;
	right: -6px;
}

.lcd-meter .lcd-icon img{
	height: 52px;
}

/* LCD Boometer */
.lcd-boometer-container {
  margin: 6px;
  background-color: #dfe441;
  padding: 3px 6px;
  border-radius: 4px;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.1), 0 6px 18px 0 rgba(0,0,0,0.08), inset 0px 2px 8px rgba(0,0,0,0.1);
}

.lcd-boometer {
  color: #3b3b3b;
  position:relative;
}

.lcd-boometer.big-digit {
  text-align: end;
  font-family: digital-7_monoitalic;
  font-size: 6.4em;
  width: 210px;
  height: 74px;
}

.lcd-boometer.small-text {
  font-family: LEDCalculator;
  font-size: 2.2em;
  line-height: 30px
}

.lcd-boometer.big-text {
  font-family: LEDCalculator;
  font-size: 3.4em;
  height: 70px;
  line-height: 54px
}

.lcd-boometer .lcd-overlay {
  position:absolute;
}

.lcd-boometer.big-digit .lcd-overlay {
  width: 210px;
  height: 74px;
  left: -12px;
  top: -6px;
}

.lcd-boometer.small-text .lcd-overlay {
  width: 430px;
  left: 0px;
}

.lcd-boometer.big-text .lcd-overlay {
  width: 680px;
  height: 70px;
  left: 0px;
}

.lcd-boometer.big-digit .lcd-background, .lcd-boometer.big-digit .lcd-displayed {
  padding-right: 0px;
  line-height: 74px;
}

.lcd-boometer .lcd-background {
  opacity: 0.05;
}

.ok-boometer-header h1 {
	font-family: Merienda One;
	font-weight: 300;
	font-size: 2.4em;
	margin: 6px;
}

.ok-boometer-header h1 a {
	text-decoration: none;
}

.username {
  font-family: LEDCalculator;
  font-weight: 300;
}

#avocado-notification {
	font-family: 'Press Start 2P', cursive;
  color: #fff;
  font-size: 1.8rem;
  width: 100vw;
  height: 100vh;

  opacity:0;
 
  will-change: text-shadow;
  -webkit-animation: rgbText 1s steps(9) 0s infinite alternate;
          animation: rgbText 1s steps(9) 0s infinite alternate;

}
#avocado-notification.fade-out {
	-webkit-animation: rgbText 1s steps(9) 0s infinite alternate, move 1.6s linear 1;
	        animation: rgbText 1s steps(9) 0s infinite alternate, move 1.6s linear 1;
}

@keyframes move {
	0% {
     transform: translate(0px, 0px);
     opacity: 1;
  }
	50% {
     transform: translate(0px, -10px);
     opacity: 1;
  }
	75% {
     transform: translate(0px, -15px);
     opacity: .7;
  }
	100% {
     transform: translate(0px, -20px);
     opacity: 0;
  }
}

/* avocado notification animation */
@-webkit-keyframes rgbText {
  0% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  25% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  45% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
  }
  50% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
  }
  55% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  90% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
  }
  100% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
  }
}
@keyframes rgbText {
  0% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  25% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 1px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  45% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
  }
  50% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
  }
  55% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 0px 0 3px rgba(251, 0, 231, 0.8), 0 0px 3px rgba(0, 233, 235, 0.8), 0px 0 3px rgba(0, 242, 14, 0.8), 0 0px 3px rgba(244, 45, 0, 0.8), 0px 0 3px rgba(59, 0, 226, 0.8);
  }
  90% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), -5px 0 1px rgba(251, 0, 231, 0.8), 0 5px 1px rgba(0, 233, 235, 0.8), 5px 0 1px rgba(0, 242, 14, 0.8), 0 -5px 1px rgba(244, 45, 0, 0.8), 5px 0 1px rgba(59, 0, 226, 0.8);
  }
  100% {
    text-shadow: -1px 1px 8px rgba(255, 255, 255, 0.6), 1px -1px 8px rgba(255, 255, 235, 0.7), 5px 0 1px rgba(251, 0, 231, 0.8), 0 -5px 1px rgba(0, 233, 235, 0.8), -5px 0 1px rgba(0, 242, 14, 0.8), 0 5px 1px rgba(244, 45, 0, 0.8), -5px 0 1px rgba(59, 0, 226, 0.8);
  }
}