/* fonts */

@font-face {
  font-family: 'digital-7_italicitalic';
  src: url('font/digital-7-web-font-kit/digital-7_italic-webfont.woff2') format('woff2'),
       url('font/digital-7-web-font-kit/digital-7_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7_monoitalic';
  src: url('font/digital-7-web-font-kit/digital-7_mono_italic-webfont.woff2') format('woff2'),
       url('font/digital-7-web-font-kit/digital-7_mono_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7_monomono';
  src: url('font/digital-7-web-font-kit/digital-7_mono-webfont.woff2') format('woff2'),
       url('font/digital-7-web-font-kit/digital-7_mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'digital-7regular';
  src: url('font/digital-7-web-font-kit/digital-7-webfont.woff2') format('woff2'),
       url('font/digital-7-web-font-kit/digital-7-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* other */

.rank-avatar {
	background-color: rgba(255, 255, 255, 0.6);
	font-size: 1.2rem;
	text-align: center;

	line-height: 1.4;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-font-smoothing: antialiased;
	margin: auto;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	fill: currentColor;
	height: 24px;
	width: 24px;
	min-height: 24px;
	min-width: 24px;
	margin-bottom: 8px;
	margin-right: 16px;
	border-radius: 50%;
	box-sizing: content-box;
	padding: 8px;
	margin-top: 12px;
	align-self: flex-start;
}

.tweet-container {
	width: 500px;
	min-height: 50px;
}

@keyframes placeholder {
	0% { background-position: -600px 0 }
	100% { background-position: 600px 0 }
}

.tweet-placeholder {
	border: 1.5px solid rgba(255, 255, 255, 0.4);
	background-color: rgba(0, 0, 0, 0.6);
	height: 120px;
	margin-top: 12px;
	border-radius: 4px;
	width: 497px;

	animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholder;
  animation-timing-function: linear;
  background: linear-gradient(to right, #000 8%, #333 18%, #000 33%);
  background-size: 1200px 100px;
}

.lcd-meter-container {
	margin: 4px;
	background-color: #dae300;
	padding: 3px 6px;
	border: 8px solid #333;
	border-radius: 12px;

	box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2), 0 6px 18px 0 rgba(0,0,0,0.19), inset 0px 2px 8px rgba(0,0,0,0.3);
}

.lcd-meter {
	width: 220px;
	height: 80px;
	color: #414302;
	font-family: digital-7_monoitalic;
	font-size: 4em;
	position:relative;
	text-align: end;
}

.lcd-meter .lcd-overlay {
	width: 220px;
	height: 80px;
	position:absolute;
 	right:0px;
	bottom:0px;
}

.lcd-meter .lcd-background {
	opacity: 0.05;
	line-height: 80px;
}

.lcd-meter .lcd-score {
	line-height: 80px;
}

.lcd-meter .lcd-icon {
	text-align: start;
	left: -3px;
}

.lcd-meter .lcd-icon img{
	height: 80px;
}

.ok-boometer-header h1 {
	font-family: Merienda One;
	font-weight: 300;
	font-size: 2.4em;
	margin: 6px;
}

.ok-boometer-header h1 a {
	color: #333;
	text-decoration: none;
}

.username {
	font: normal normal 16px/1.4 Helvetica,Roboto,"Segoe UI",Calibri,sans-serif;
}